body {
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.signup-forgot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.signup-button, .forgot-button {
    background-color: transparent;
    color: #007bff;
    text-align: left;
}

.signup-button svg, .forgot-button svg {
    margin-right: 8px;
}

.signup-button:hover, .forgot-button:hover {
    color: #0056b3;
}

.signup-button {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
